# Ch02. Variable

## 자료형 변환하기

- int(정수형), str(문자열), float(실수형 / 소수점), bool(참과 거짓 나타내는 자료형)

In [2]:
a = 10
type(a)

int

In [3]:
# int -> float
float(a)

10.0

In [4]:
# int -> str
str(a)

'10'

In [5]:
# int -> bool
bool(a)

True

In [6]:
# float -> int: 10.6 => 정수형으로 변환 시 소수점 이하 값은 버린다.
int(10.9)

10

In [9]:
x = 4.6
y = 7.9

print(int(x + y)) # 12.xx 원래의 수를 더하고 나서 정수형으로 변환
print(int(x) + int(y)) # 4+7 정수형으로 변환 이후 덧셈

12
11

In [8]:
x = 4.6
y = 7.9

print(float(x + y))
print(float(x) + float(y))

12.5
12.5

In [14]:
# str -> int
p = '88.3'
int(p) # int 함수는 정수가 아닌 문자열은 처리하지 않는다

ValueError: invalid literal for int() with base 10: '88.3'

In [15]:
float(p)

88.3

In [17]:
ex = '90.0'
int(ex) #소수점이 붙어있는 거는 다 안됨

ValueError: invalid literal for int() with base 10: '90.0'

## 꿀팁

print()

In [18]:
print('orange', 'apple', 'tomato') #띄어쓰기가 요소들 사이에 들어감
print('the next line') #줄바꾸기

orange apple tomato
the next line

#### 띄어쓰기를 없애거나 줄을 바꾸고 싶지 않은 경우

In [20]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

- sep= 기본 값으로 공백이 들어가있는 print함수의 출력물들 사이에 원하는 값을 넣어줌
- end= 기본 값으로 줄바꿈(\n)이 들어가있는데 이걸 사용해 줄바꿈을 없애거나 원하는 문자 입력 가능

In [22]:
print(orange + apple + tomato) # +는 연결을 가능하게 하지만 각 원소 사이의 공백은 사라진다

orangeappletomato

In [23]:
print(orange, apple, tomato, sep=' ', end='\n')

orange apple tomato

In [24]:
#sep 함수, 띄어쓰기(공백)을 한 칸 넣어줌
#end 함수, \n 을 넣어서 줄바꿈을 해줌
##end 함수는

In [27]:
print(orange, apple, tomato)
print(orange, apple, tomato, sep='\t', end="\n\n")
print('OMG')

orange apple tomato
orange	apple	tomato

OMG

#### 라인이 짧을 때 => ; 는 줄바꿈을 의미함

In [28]:
orange = 'orange' ; apple = 'apple' ; tomato = 'tomato'

In [30]:
age = 21; print(age); print(21)

21
21

# Ch2. input()
- console에서 사용자에게 값을 입력받는 함수
- 입출력과 관련된
- 입력 받는 값의 타입은 문자열 (str)
- 입력 받은 값을 변수에 담아서 사용한다

In [1]:
input("What's your name?")

What's your name?  Kim

' Kim'

In [2]:
#1.
name = input("What's your name?")

What's your name? Lee

In [3]:
name

'Lee'

In [4]:
#2
print("What's your name?")
name = input()

What's your name?

 Wang

In [5]:
print(name)

Wang

input을 str이 아닌 다른 타입으로 사용하고 싶을 때에는 형 변환을 미리 해줘야한다.
- input함수는 문자열로 취급한다.

In [7]:
age = input("How old are you?")

How old are you? 22

In [8]:
type(age)

str

In [9]:
age = int(input("How old are you?"))

How old are you? 22

In [10]:
type(age)

int

In [11]:
print('당신이 태어난 해는', 2022 - age + 1, '입니다.') #int로 문자열을 변환해줘서 연산이 가능해짐

당신이 태어난 해는 2001 입니다.

In [12]:
#그냥 받는 경우
age = input("How old are you?")

How old are you? 22

In [14]:
print('당신이 태어난 해는', 2022 - age + 1, '입니다.') #문자열을 변환하지 않아서 연산 불가능

TypeError: unsupported operand type(s) for -: 'int' and 'str'

## Printing

In [27]:
age = int(input('How old are you?'))

How old are you? 22

In [29]:
print(f'당신이 태어난 해는 {2022 - age + 1} 입니다.') #print (f'{<variable>})

당신이 태어난 해는 2001 입니다.

### Quiz 1
- 택배 정보를 입력 받고 무게에 따른 값 산정하기
    - 수취인 성명:
    - 수취인 주소:
    - 배송비: 3000원
    - 물건 비용: <계산된 값>원
    - 총 합계: <계산된 값>원
- 물건 비용은 무게(g) * 5
- 입력 값 = 이름, 주소, 무게

In [31]:
#1. 내가 푼 방식

name = input('수취인 성명: ')
adr = input('수취인 주소: ')
price = 3000

mg = int(input('무게: '))
mgby = mg * 5
int(mgby)
chg = mgby + 3000
print('물건 비용:',mgby,'원')
print('총 합계:',chg,'원')

수취인 성명:  김선혜
수취인 주소:  회나무로
무게:  500

물건 비용: 2500 원
총 합계: 5500 원

In [32]:
name = input('수취인 성명: ')
adr = input('수취인 주소: ')
price = 3000

mg = int(input('무게: '))
mgby = mg * 5
int(mgby)
chg = mgby + 3000
print(f'물건 비용: {mgby}원')
print(f'총 합계: {chg}원')

수취인 성명:  김선혜
수취인 주소:  회나무로
무게:  200

물건 비용: 1000원
총 합계: 4000원

# IF 조건문
#### 코드 짜는 팁
- 주석달기
    - ‘#‘ hash, sharp, . .
    - '#' 시작지점부터 라인 끝까지가 주석 처리됨. 라인이 바뀌면 코드로 인식
    - """ """ : 긴 주석
    - 문자열 안에 있는 #은 부호로 인식한다
    - 이유? 코드에 대한 설명은 최대한 하지 않는다. 의도를 나타내기 위해, 오류가 있다거나, ...
    
- 라인 유지하기
    - 들여쓰기 (default space 4개, 탭을 이용해서)
    - 논리 구조를 나타내기 때문에 굉장히 중요함
    - 80자 정도가 한 라인에 들어가는게 암묵적 합의 (백슬래시로 라인을 끊어준다 (\))

In [33]:
a = 3 #주석입니다.
"""
주석1
주석2
주석3
"""
print(a)

3

In [35]:
print('hey, there #')

hey, there #

if a == 3:
    xxx

### if
if<조건식>:<실행할 코드>

In [37]:
if 3 != 1:
    print("두 수는 같지 않다")

두 수는 같지 않다

- if-elif-else
if <조건식>:
    <실행할 코드1>
elif <조건식2>:
    <실행할 코드3>
else: 
    <실행할 코드2>

In [38]:
a = 4
if a < 3:
    print("3보다 작다")
elif a == 3:
    print("3이다")
else:
    print("3보다 크다")

3보다 크다

In [40]:
if a < 3:
    print("3보다 작다")
    
if a == 3:
    print("3이다")
    
if a > 4:
    print("3보다 크다")
    
#각각 새로 판별

### 비교연산자
- x < y
- x > y
- x >= y
- x <= y
- x == y (같이)
- x != y
- x is y(값, 메모리주소)
- x is not y

### 퀴즈
- 1. 시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False 반환하기
- 2. 시험 점수를 입력 받고, 95 이상 A+, 90이상 A, 85이상 B+, 나머지 F로 출력하세요.

In [43]:
#Quiz 1.

score = int(input('시험 점수를 입력하시오: '))

if score >= 80:
    print(bool(score>=80)) # 간단하게 print('True') 해도 됨
else:
    print(bool(score>=80))

#Quiz 2.
if score >=95:
    print('A+')
elif score>=90:
    print('A')
elif score>=85 and score<90: #and 이후 굳이 안 써줘도 되는 듯 확인해보기 -> 해본 결과 안 써도 됨
    print('B+')
else :
    print ('F')

시험 점수를 입력하시오:  90

True
A

In [44]:
#Quiz 1.

score = int(input('시험 점수를 입력하시오: '))
print(bool(score>=80))

시험 점수를 입력하시오:  79

False

# Ch03. Numbers

### boolean

- True/False
- False 인 값
- if문 (조건식): '만약 어떤 값이 True면, ..."

In [50]:
bool(0)

False

In [51]:
bool(None)

False

## Integer
- 분수나 소수가 아닌 정수
- 음수는 '-'기호를 붙인다: i.e., -50
- default = 양수
- 숫자 앞에는 0을 쓰지 못한다. i.e., 09
    -0bxx (10진수가 아닌)
- 숫자 사이에 쉼표를 쓰면 오류: 100,000 (x) -> 100_000 => 숫자 사이의 언더바는 인식하지 않는다는 의미

In [53]:
a = 09

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2890110653.py, line 1)

In [54]:
a = -50
b = 49
a +b

-1

## 연산자|operator
- +, -, *, /
- 피연산자|operand: 1, 2,..
- 수식|expression

In [55]:
x = 9
y = 4

# 연산
x + y
x - y
x * y
x / y ###
x ** y # 거듭제곱|exponential

6561

나눗셈 = 몫, 나머지

In [57]:
x / y # 몫 + 나머지 (결과물)
x // y # 몫
x% y # 나머지

1

In [58]:
divmod(x,y) # (몫, 나머지)

(2, 1)

In [59]:
# division by zero 항시 유의

In [60]:
1 + 9              + 10 #숫자 사이의 공백은 무시가 됨

20

### 복합 대입 연산자 |compound assignment operator

In [62]:
x = 5
x - 3
print(x)

5

In [63]:
x = x - 3
print(x)

#1. x - 3 계산
#2. temp = x - 3 (임시변수에 담는다)
#3. ㅌ = temp

2

In [64]:
x -= 3
print(x) # 2-3

-1

In [65]:
x += 3
x -= 3
x *= 3
x /= 3

x += 1

### Quiz 1.
- 반지름을 입력 받아서 원의 면적 구하기
- 면적 = pi * r제곱

### Quiz 2.
- 숫자를 입력 받고 3의 배수인지 확인하기
- 숫자를 입력 받고 홀수인지 확인하기

In [67]:
# Quiz 1.

radius = float(input('반지름은? '))
pi = 3.14
area = (pi * (radius * radius)) # radius * radius -> radius ** 2 , pi * radius ** 2 로 해주면 괄호는 안 해줘도 됨. 거듭제곱 먼저 계산
print (area)

반지름은?  5

78.5

In [68]:
# Quiz 2.

num = int(input('숫자를 입력하시오: '))
if num % 3 == 0:
    print('3의 배수입니다.')
else :
    print('3의 배수가 아닙니다.')
    
if num % 2 == 0:
    print('짝수입니다.')
else :
    print('홀수입니다.')

숫자를 입력하시오:  6

3의 배수입니다.
짝수입니다.

In [69]:
# 다른 분 예시
n = int(input())
print(not bool(n%3))

 3

True

In [70]:
# if 없이 true, false

num = int(input('숫자를 입력하시오: '))
unknown = num % 3

숫자를 입력하시오:  5

### 지수 표현
- 예: '1.0e-4'
- e의 앞부분은 소수, 정수 둘 다 됨
- 뒷부분은 정수여야 함
- 뒷부분이 음수면 소수점 자릿수를 의미함
- e, E 대문자 차이 없음

In [72]:
1.0e-4

0.0001

In [73]:
# 0.0004005 => 지수로 표현하기
print(405.e-7) #왜 ??????
4.005e-4

4.05e-05

0.0004005